@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --color-moderate-violet: #7541c8;
  --color-very-dark-grayish-blue: #48556a;
  --color-very-dark-blackish-blue: #19212e;
  --color-white: #ffffff;
  --color-light-gray: #cfcfcf;
  --color-light-grayish-blue: #ecf2f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

input,
button {
  outline: none;
  border: none;
}

html,
body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-weight: 500;
  background-color: var(--color-light-grayish-blue);
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 30px;
}

.content {
  width: 100%;
  max-width: 1240px;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  grid-template-areas:
    "cmt1 cmt1 cmt2 cmt3"
    "cmt4 cmt5 cmt5 cmt3";
}

.comment-card {
  padding: 30px 50px 30px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 2px 2px 15px 2px #dddddd;
  position: relative;
}

.quotation {
  position: absolute;
  top: 0;
  right: 120px;
  height: 108px;
  z-index: 1;
}

.comment-card > h2 {
  font-size: 1.4em;
  letter-spacing: 1px;
  z-index: 2;
}

.comment-card > p {
  opacity: 70%;
  font-size: 0.95em;
  letter-spacing: 0.7px;
  line-height: 18px;
}

.cmt-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cmt-header img {
  border-radius: 50%;
  height: 30px;
}

.cmt-header h4 {
  font-size: 1.1em;
  opacity: 70%;
}

.cmt-header p {
  font-size: 0.9em;
  opacity: 50%;
}

.cmt1 {
  background-color: var(--color-moderate-violet);
  grid-area: cmt1;
  color: var(--color-white);
}

.cmt2 {
  background-color: var(--color-very-dark-grayish-blue);
  grid-area: cmt2;
  color: var(--color-white);
}

.cmt3 {
  background-color: var(--color-white);
  grid-area: cmt3;
  color: var(--color-very-dark-grayish-blue);
}

.cmt4 {
  background-color: var(--color-white);
  grid-area: cmt4;
  color: var(--color-very-dark-grayish-blue);
}

.cmt5 {
  background-color: var(--color-very-dark-blackish-blue);
  grid-area: cmt5;
  color: var(--color-white);
}

@media screen and (max-width: 1100px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "cmt1"
      "cmt2"
      "cmt4"
      "cmt5"
      "cmt3";
  }

  .quotation {
    right: 15px;
    height: 100px;
  }

  .comment-card {
    padding: 20px 18px 20px 25px;
  }
}
